<footer>
  <div class="footer">
    <h2>Info & Help</h2>
    <p>Algemene voorwaarden</p>
    <p>Privacy voorwaarden</p>
    <p>Veelgestelde vragen</p>

    <h2>Social</h2>
    <p>Facebook</p>
    <p>Instagram</p>
    <p>Youtube</p>

    <h2>Menu</h2>
    <p>Voor Mini</p>
    <p>Producten</p>
    <p>Logboek</p>
    <p>Nieuws</p>
    <p>Contact</p>
    <p>Zoeken</p>
  </div>
</footer>

</body>
</html>