<footer>

    <fieldset>
        <label for="bio">Review:</label>
			<textarea name="bio" id="bio" cols="30" rows="3" placeholder="..."></textarea>
			<input type="submit" value="Opslaan" /> 
    </fieldset>

</footer>

</body>
</html>